body {
	margin: 0;
	padding: 0;
}

.logotipo {
	display: block;
	width: 400px;
}

.nav a {
	color: #0984e3 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent !important;
  text-decoration: none;

}

@media screen and (min-width: 480px) {
    .logotipo {
    	max-width: 80%;
    }
}